input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    /* background-image: url("resources/bg.jpg");
    background-repeat: repeat; */
}

.main{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.titles{
    width: 90%;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    gap: 10px;
    border: 1px solid #dcdcdc;
}

.titles div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-item{
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    gap: 10px;
    border: 1px solid #dcdcdc;
    font-size: 14px;
}

.product-item div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.remove-btn-div{
    flex: 1;
    justify-content: center;
}

.remove-btn{
    border-radius: 50%;
    background: none;
    color: red;
    border: none;
    text-align: center;
    transition: font-size 0.3s ease;
    display: flex;
    align-items: center;
}

.remove-btn:hover{
    /* font-weight: bold; */
    font-size: 20px;
}

.product-img{
    flex: 2;
    justify-content: center;
}

.product-img img{
    width: 60px;
    height: 60px;
}

.product-name{
    flex: 6;
}

.product-price{
    flex: 2;
}

.product-qty{
    flex: 4;
    justify-content: center;
    gap: 2px;
}

.product-qty input{
    width: 50px;
    background: none;
    text-align: center;
    border: none;
}

.product-qty button{
    border-radius: 50%;
    border: 1px solid #A9A9A9;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #dcdcdc; */
}

.product-subtotal{
    flex: 3;
}

.cart-footer{
    width: 90%;
    height: 200px;
    margin-top: 30px;
    display: flex;
    
}

.cart-footer-1{
    flex: 2;
    display: flex;
    gap: 20px;
}

.cart-footer-2{
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: end; */
    gap: 20px;
}

.cart-footer button{
    height: 40px;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.cart-footer-2 div{
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid #dcdcdc;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.empty-cart{
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty-cart img{
    width: 250px;
    height: 250px;
}