.body {
    width: 100vw;
    height: 100vh;
    background-image: url("resources/bg4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-div {
    width: 25%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3), 0 8px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    gap: 55px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sub-div {
    display: flex;
    flex: 1;
}

.sub-div img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 120px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-input {
    height: 35px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #A9A9A9;
    background-color: #f5f5f5;
    padding-left: 7px;
}

.sign-btn {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: #0080ff;
    border: none;
    color: white;
    /* opacity: 0.6; */
    font-size: 18px;
    /* transition: all 0.3s ease;
    transform: scale(1); */
    /* Initial scale for width and height */
}

.redirect-btn {
    background: none;
    border: none;
    color: #0080ff;
}

@media only screen and (max-width: 800px) {
    .main-div {
        width: 100%;
    }
    
}

