.header-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
}

.header-top{
    display: flex;
    height: 20px;
    background-color: black;
    width: 100%;
    justify-content: center;
    align-items: center;
    column-gap: 50%;
    font-size: 10px;
    color: white;
}

.clear-btn{
    background: none;
    border: none;
}

.header-bottom{
    display: flex;
    height: 110px;
    width: 100%;
    background-color: #f5f5f5;
    padding-left: 40px;
    padding-right: 40px;
}

.header-img-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1.5;
    overflow: hidden;
}

.header-img-div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header-menus-div{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    flex: 6;
}

.header-menus-div button{
    font-size: 15px;
}

.header-search-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
}

.header-cart-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}

.header-list-div{
    display: none;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.header-search-container{
    border: 2px solid black;
    border-radius: 25px;
    width: 75%;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
}

.header-search-container input{
    flex: 1;
    margin-left: 20px;
    font-size: 15px;
    margin-right: 10px;
}

.header-search-container button{
    height: 50px;
    background-color: black;
    border-radius: 50%;
    font-size: 14px;
    width: 50px;
    color: white;
}

.header-search-btn{
    height: 50px;
    background-color: black;
    border-radius: 50%;
    font-size: 14px;
    width: 50px;
    color: white;
    display: none;
}

.header-search-container input:focus{
    outline: none;
}

.header-cart-btn{
    height: 50px;
    width: 50px;
    background: none;
    border-radius: 100%;
}

.header-cart-total{
    font-size: 11px;
}

.header-cart-item-count{
    height: 20px;
    width: 20px;
    background-color: #0080ff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 15px;
    right: 15px;
    color: white;
    font-size: 12px;
}

.header-list-btn{
    background: none;
    border: none;
    font-size: 40px;
}

.header-sm-search-div{
    width: 100%;
    height: 40px;
    background-color: #F5F5F5;
    display: none;
    transition: height 0.3s ease;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.header-sm-search{
    flex: 1;
    margin-left: 40px;
    margin-right: 40px;
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 15px;
    padding-right: 20px;
}

.header-sm-list-div{
    display: none;
    align-items: center;
    font-size: 18px;
    background-color: black;
    width: 100%;
    height: 0;
    overflow: hidden;
    color: white;
    flex-direction: column;
    gap: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all 0.3s ease;
}

@media only screen and (max-width: 600px) {

    .header-top{
        height: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .header-menus-div{
        display: none;
    }

    .header-search-div{
        justify-content: end;
    }

    .header-list-div{
        display: flex;
    }

    .header-bottom{
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-search-container{
        display: none;
    }

    .header-search-btn{
        display: block;
    }

    .header-cart-total{
        display: none;
    }

    /* .header-sm-search-div{
        display: flex;
    } */

    /* .header-sm-list-div{
        display: flex;
    } */

}