.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
    /* background-image: url("resources/bg.jpg");
    background-repeat: repeat; */
}

.main-div{
    display: flex;
    width: 80%;
    height: auto;
    margin-top: 50px;
    flex-direction: row;
}

.main-div select{
    height: 35px;
    width: 227.36px;
    border-width: 1px;
    border-radius: 2px;
    border-color: rgb(155, 155, 155);
    color: rgb(110, 110, 110);
    font-size: 12px;
}

.main-sub-1{
    flex: 1;
    height: 780px;
    background-color: white;
    border-radius: 20px;
    border: solid;
    border-width: 1px;
    border-color: #DCDCDC;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}

.main-sub-1 div{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.main-sub-1 button{
    height: 50%;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}

.main-sub-2{
    flex: 4;
    margin-left: 30px;
    margin-right: 30px;
}

.shop-header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    
}

.shop-footer{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.shop-footer button{
    width: 30px;
    height: 30px;
    border: none;
}

.shop-footer button:hover{
    background: black;
    color: white;
    border-radius: 5px;
}

.inactive-btn{
    background: #F5F5F5;
    color: black;
    border-radius: 5px;
}

.active-btn{
    background: black;
    color: white;
    border-radius: 5px;
}

.shop-content{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.shop-item{
    width: 262.1px;
    height: 420px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: solid;
    border-width: 1px;
    border-color: #DCDCDC;
    border-radius: 20px;
    cursor: pointer;
    /* transition: box-shadow 0.2s ease; */
}

/* .shop-item:hover{
    box-shadow: 2px 3px 2px 3px #DCDCDC;
} */

.shop-item img{
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    cursor: pointer;
}

.shop-item-details{
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.shop-item-details span{
    font-size: 13px;
}

.shop-item-details button{
    background-color: black;
    border-radius: 20px;
    width: 50%;
    border: none;
    height: 40px;
}