input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
    /* background-image: url("resources/bg.jpg");
    background-repeat: repeat; */
}

.product-main {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.product-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.product-img img {
    width: 450px;
    height: 450px;
    background-size: contain;
    border-radius: 20px;
    border: solid;
    border-width: 1px;
    border-color: #DCDCDC;
}

.product-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    padding: 30px;
}

.product-content-div {
    flex: 1;
    display: flex;
    flex-direction: row;
    min-height: 80px;
}

.count-div{
    flex: 1;
    display: none;
    flex-direction: row;
    min-height: 50px;
    align-items: center;
}

.add-to-cart-btn{
    height: 50px;
    width: 120px;
    background-color: black;
    border-radius: 10px;
    font-size: 15px;
    color: white;
}

.qty-btn{
    border-radius: 50%;
    border: 1px solid #A9A9A9;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25.33px;
    width: 25.33px;
}

.color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Style for each box */
ul li {
    width: 40px;
    height: 50px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    /* background-color: #f0f0f0; */
    background:none;
    transition: all 0.3s ease;
}

/* Style for the active box */
ul li.active {
    background-color: black;
    color: white;
}

.qty-input{
    width: 50px;
    height: 40%;
    background: none;
    text-align: center;
    border: none;
}

.product-info{
    height: 220px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.product-info-title{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid;
    border-width: 1px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 40px;
}

.product-info-content{
    flex: 4;
    display: flex;
    flex-direction: row;
    width: 50%;
    align-self: center;
    font-size: 15px;
    
}

.product-info-content-sub{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.product-info-content-sub span{
    flex: 1;
    align-self: center;
}

.colors{
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    
}

.colors div{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-top: 6px;
    
}

.White{
    background-color: white;
    border: solid;
    border-width: 1px;
}

.Black{
    background-color: black;
}

.Gray{
    background-color: gray;
}

.Maroon{
    background-color: maroon;
}

.Brown{
    background-color: brown;
}

.Pink{
    background-color: pink;
}

.Mint{
    background-color: mediumseagreen;
}

.Orange{
    background-color: orange;
}

.Yellow{
    background-color: yellow;
}

@media only screen and (max-width: 600px) {

    .product-main{
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

}